html,
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background: #004b9c;
    overflow:hidden;
    font-family: ubuntu, helvetica, arial;
}

.splash{
    height:50px;
    width:100%;
    font-size:40px;
    line-height: 50px;
    text-align: center;
    position:absolute;
    top:calc(50% - 25px);
}

header{
    height:50px;
    width:100%;
    box-shadow: 0 2px 5px rgba(0,0,0,.7);
    position:absolute;
    z-index: 10;
    opacity:0;
    transition: opacity 500ms;
}

    header button{
        font-size: 30px;
        height:40px;
        width:40px;
        margin:5px 0 5px 5px;
        border-radius: 5px;
        cursor:pointer;
        outline:none;
    }

    header .address{
        width:calc(100% - 300px);
        font-size:30px;
        line-height:40px;
        border:none;
        box-shadow: inset 0 0 3px rgba(0,0,0,.4);
        margin:5px 5px 5px 10px;
        padding: 0 3px;
    }

iframe{
    border:none;
    margin:0;
    width:100%;
    height:calc(100% - 50px);
    position:absolute;
    top:50px;
    opacity:0;
    transition: opacity 500ms;
}

.hidden{
    display:none;
}