
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
#info_window{
	position : absolute;
	top : 95%;
	left : 0;
	width: 100%;
	height:0;
	z-index: 4;
	text-align: center;
}

#window_content{
	position: relative;
	width: 100%;
	height:70%;

}
#close_window{
	position : absolute;
	background : #111111;
	width: 50px;
	text-align:center;
	height: 20px;
	z-index: 5;
	opacity: 1;
	border-style : solid;
	border-color : #000000;
	border-width : 1px;
	cursor: pointer;
	color: #ffffff;
	visibility: hidden;
}
#context_menu{
	position : absolute;
	background : #111111;
	width: 60px;
	height: 90px;
	z-index: 5;
	opacity: 0.8;
	visibility: hidden;
	border-style : solid;
	border-color : #000000;
	border-width : 1px;

}
.context_line {
	color : #ffffff;
	text-align : center;
	background : #555555;
	width: 100%;
	height: 28px;
	z-index: 3;
	cursor: pointer;
	border-style : solid;
	border-color : #000000;
	border-width : 1px;
}
.context_line:hover{
	background : #111111;
}
#menu {
	position : absolute;
	background : #231F20;
	top: 0;
	left: 0;
	width: 15%;
	height: 100%;
	z-index: 3;
	overflow:auto;
}
#show_menu {
	color : #ffffff;
	text-align : center;
	position : absolute;
	background : #111111;
	border-style : solid;
	border-color : #000000;
	border-width : 1px;
	top: 0;
	left: 45%;
	width: 10%;
	height: 20px;
	z-index: 3;
	opacity: 0.8;
	cursor: pointer;
}
#chart {
	left:15%;
	height:100%;
		width:85%;
	position:relative;
	z-index: 2;
}
.filter {
	font-size:90%;
	font-family:Arial, Helvetica,  sans-serif, bold;
	font-weight : bold;
	margin-left:auto;
	margin-right:auto;
	vertical-align : middle;
	text-align : center;
	color: #FFFFFF;
	background : #555555;
	border-style : solid;
	border-width : 2px;
	border-color : #000000;
	width:80%;
	height: 40px;
	z-index: 3;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
		margin-bottom:3px;

}
.axis_x_container{
	text-align:center;
	font-size:90%;
	font-family:Arial, Helvetica,  sans-serif, bold;
	font-weight : bold;

}
.legende_container{
	text-align:center;
	vertical-align:bottom;
	font-size:90%;
	font-family:Arial, Helvetica,  sans-serif, bold;
	font-weight : bold;
}

.legende {
	display:inline-block;
	text-align : center;
	color: #FFFFFF;
	width:45%;
	height: 60px;
	z-index: 3;
	font-size:90%;
	vertical-align:middle;
	border-width : 1px;
	border-color : #000000;
	
}
.legende_img {

	display:inline-block;
	color: #000000;
	background : #ffffff;
	width:45%;
	height: 50px;
	z-index: 3;
	vertical-align:middle;
	border-style : solid;
	border-width : 1px;
	border-color : #000000;
	font-size:95%;
	font-family:Arial, Helvetica,  sans-serif;

}

.axis_x {
	position:relative;
	width:25%;
	height: 40px;
	z-index: 3;
	cursor: pointer;

}
#droite{
	display:inline-block;
	
}
#gauche{
display:inline-block;
	
}
.axis_y {
	margin-left:auto;
	margin-right:auto;
	width:25%;
	height: 40px;
	z-index: 3;
	cursor: pointer;
	
}

img {
		display:block;
		max-height:100%;
		max-width:100%;
		margin:0 auto;		
	}
.title {
	width:95%;
	margin:3px auto;
	margin-bottom:3px;
	background : url('img/logo.png') no-repeat center center fixed;
	text-align : center;
	height: 50px;
	z-index: 3;
}
.subtitle {
	margin-t:3px;
	font-size:100%;
	font-family:Arial, Helvetica,  sans-serif;
	text-align : center;
	vertical-align: bottom;
	background : #231F20;
	color: #00ADEE;
	width:99%;
	height: 40px;
	z-index: 3;
	font-weight : bold;
}
#cookie:hover { 
	
	background-color : #999999;
}
#reset:hover { 
	
	background-color : #999999;
}
#zoomin:hover { 
	
	background-color : #999999;
}
#zoomout:hover { 
	
	background-color : #999999;
}
#droite:hover { 
	
	background-color : #999999;
}
#gauche:hover { 
	
	background-color : #999999;
}
#haut:hover { 
	
	background-color : #999999;
}
#bas:hover { 
	
	background-color : #999999;
}
#cookie {
	top : 3px;
	left : 12px;
}

#time {
	top : 3px;
	left : 35%;
}

#reset {
	top : 3px;
	left : 68%;
	
}

